.container{
    max-width: 1400px;
    width: 100%;
}
.filter{
    min-height: 100vh;
    background: #1c212d;
    width: 25%;
    border-radius: 5px;
    color: #fff;
    padding: 20px 15px;
}
.filter h3{
    border-bottom: 1px solid var(--text-secondary);
    padding-bottom: 15px;
    font-size: 25px;
}
.listcategories{
    column-count: 2;
    color: var(--text-secondary);
}
.listcategories>div{
    padding: 5px 0;
}
.listcategories label{
    margin-left: 10px;
}
.listyears{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 20px;
}
.listyears div{
    background-color: #181d29;
    color: var(--bg-btn);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.listyears div:hover{
    background-color: var(--bg-btn);
    color: #000;
}
.listcountries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.listcountries div{
    background: #181d29;
    color: var(--bg-btn);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.listcountries div:hover{
    background-color: var(--bg-btn);
    color: #000;
}
.listtype{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 10px;
    margin-top: 20px;
}
.listtype div{
    background-color: #181d29;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.listtype div:hover{
    background-color: var(--bg-btn);
    color: #000;
}
.result{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
.result a{
    width: 100%;
    height: 100%;
    color: #fff;
}
.result img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
}
.content h6{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagination{
    margin-top: 30px;
    border-top: 1px solid var(--text-secondary);
    display: flex;
    justify-content: end;
    padding-top: 20px;
}
.page{
    background: #1c212d;
    width: 40px;
    height: 40px;
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.active{
    background: var(--bg-btn) !important;
    color: #000 !important;
}
.nextPage{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
}
.nextPage:hover i{
    transform: translateX(5px);
}
.prevPage{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
}
.nextPage i, .prevPage i{
    transition: transform 0.3s linear;
    margin-top: 4%;
}
.prevPage:hover i {
    transform: translateX(-5px);
}
.nextPage:hover, .prevPage:hover{
    color: var(--text-secondary);
}
.btnMobile{
    display: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.btnMobile i{
    margin-right: 10px;
}
.itemContent{
    position: relative;
}
.itemContent i{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    visibility: hidden;
}
.itemContent:hover img{
    filter: blur(3px);
    transform: scale(1.05);
}
.itemContent:hover i{
    visibility: visible;
}

@media(max-width: 1400px){
    .container{
        padding: 0 10px;
    }
}

@media(max-width:1200px){
    .filter{
        display: none;
    }
    .listcountries{
        grid-template-columns: repeat(2,1fr);
    }
    .listyears{
        grid-template-columns: repeat(4, 1fr);
    }
    .btnMobile{
        display: block;
    }
}

@media (max-width:950px){
    .result{
        grid-template-columns: repeat(5,1fr);
    }
}

@media(max-width:770px){
    .result{
        grid-template-columns: repeat(4,1fr);
    }
}

@media (max-width:575px){
    .result{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:450px){
    .result{
        grid-template-columns: repeat(2,1fr);
    }
    .result img{
        height: 250px;
    }
    .pagination{
        justify-content: center;
    }
    .nextPage span, .prevPage span{
        display: none;
    }
    .nextPage, .prevPage{
        background: #181d29;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}