.container{
    max-width: 1400px;
    width: 100%;
    color: #fff;
}
.sectioncontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background: var(--bg-main);
}

.detailsmovie{
    padding: 10px;
}
.detailsmovie h6{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detailsmovie p{
    color: #949cb0;
    font-size: 13px;
    margin: 0;
    padding-bottom: 3px;
}

.btnmore{
    background: #131722 !important;
    border: 1px solid #2a2d36;
    border-radius: 10px;
    padding: 15px 35px;
    color: #fff;
    position: relative;
    z-index: 2;
    transition: all .3s ease 0s;
}
.btnmore:hover{
    background: var(--bg-btn) !important;
}
.morecontainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.morecontainer::after{
    content: "";
    position: absolute; 
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2a2d36;
    z-index: 1;
}

.updatedcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    gap: 10px;
}
.imgupdated{
    width: 100%;
    height: 240px;
}
.slideitem{
    width: 0;
    display: none;
}
.slideitem.active{
    width: 100%;
    display: block;
}

.listmovie{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.imgList{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 260px;
    border-radius: 5px;
    transition: all 0.3s;
}
.episode{
    position: absolute;
    top: 10px;
    left: 0;
    background: var(--bg-btn);
    padding: 3px 15px;
    border-radius: 0 5px 5px 0;
}
.animation{
    position: relative;
    opacity: 0;
    overflow: hidden;
    animation: fadeInAnimation 2s linear forwards;
}
.animation a{
    color: #fff;
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hover{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s linear;
}
.animation:hover .hover{
    opacity: 1;
}
.animation:hover img{
    filter: blur(3px);
    transform: scale(1.05);
}

.transform{
    transform: translateX(100%);
}

@media (max-width:1430px){
    .container{
        padding: 10px;
    }
}

@media (max-width: 1200px) and (min-width: 1001px){
    .listmovie{
        grid-template-columns: repeat(6, 1fr) !important;
    }
}

@media (max-width: 1000px) and (min-width: 851px){
    .listmovie{
        grid-template-columns: repeat(5, 1fr) !important;
    }
    .animation{
        padding-bottom: 10px;
    }
}

@media (max-width: 850px) and (min-width: 651px){
    .listmovie{
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .animation{
        padding-bottom: 40px;
    }
}

@media (max-width: 650px) and (min-width: 501px){
    .listmovie{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 500px){
    .listmovie{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}


@media (max-height:650px){
    .animation img{
        max-height: 230px;
    }
}